In [1]:
import pandas as pd

In [11]:
# This is a dataframe
dataframe = pd.DataFrame({'Alice': ['I really liked it!', 'Meh'], 'Bob': ['I enjoyed it!', 'Standard']}, index=['Product A', 'Product B'])
dataframe

                        Alice            Bob
Product A  I really liked it!  I enjoyed it!
Product B                 Meh       Standard

In [14]:
# We can also define it like this
dataframe = pd.DataFrame([['I really liked it!', 'Meh'], ['I enjoyed it!', 'Standard']], columns=['Alice', 'Bob'], index=['Product A', 'Product B'])
dataframe

                        Alice       Bob
Product A  I really liked it!       Meh
Product B       I enjoyed it!  Standard

In [9]:
# This is a series
series = pd.Series([1, 2, 3, 4, 5])
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
series = pd.Series([30, 40 , 50], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
series

2015 Sales    30
2016 Sales    40
2017 Sales    50
Name: Product A, dtype: int64